#department_register .page_title {
  font-size: 20px;
  margin-bottom: 3%;
  font-weight: bold;
}
#department_register .required_txt {
  margin: 3% auto 1% 0;
  color: red;
}
#department .error_message {
  color: red;
}
