#footer footer {
  background-color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  justify-content: space-around; /*フッター内のアイテム間に均等なスペースをおく*/
  display: flex; /*フッター内のアイテムを横並びにする*/
  position: fixed; /*フッターの位置を固定する */
  bottom: 0;
  width: 100%;
}
#footer .box {
  width: 100%;
}
#footer .custom-bottom-navigation .MuiBottomNavigationAction-root {
  background-color: #e0e0e0;
  padding: 0;
}

#footer .borrow-button .MuiBottomNavigationAction-label,
#footer .list-button .MuiBottomNavigationAction-label,
#footer .borrowing-button .MuiBottomNavigationAction-label,
#footer .logout-button .MuiBottomNavigationAction-label {
  font-size: 14px;
}
