footer {
  background-color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  justify-content: space-around; /*フッター内のアイテム間に均等なスペースをおく*/
  display: flex; /*フッター内のアイテムを横並びにする*/
  position: fixed; /*フッターの位置を固定する */
  bottom: 0;
  width: 100%;
}
.footer_box {
  width: 100%;
}
.custom_bottom_navigation .MuiBottomNavigationAction-root {
  background-color: #e0e0e0;
  padding: 0;
}

.footer_borrow_button .MuiBottomNavigationAction-label,
.footer_list_button .MuiBottomNavigationAction-label,
.footer_borrowing_button .MuiBottomNavigationAction-label,
.footer_logout-button .MuiBottomNavigationAction-label {
  font-size: 14px;
}
