#lending_request .title {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
}
#lending_request {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#lending_request .button {
  margin: 4% auto;
}
#lending_request .MuiButton-root.request_button {
  margin-left: 9%;
  font-size: 20px;
  width: 48%;
  background-color: #00d12e;
}
#lending_request .MuiButton-root.popup_register_button:hover {
  background-color: #00d12e;
}
#lending_request .MuiButton-root.continue_button {
  margin-top: 5%;
  margin-left: 9%;
  font-size: 20px;
  width: 48%;
  color: white;
  background-color: #627cff;
}
#lending_request .MuiButton-root.button:hover {
  background-color: #627cff;
}
#lending_request .MuiButton-root.cancel_button {
  margin-top: 5%;
  margin-left: 9%;
  font-size: 20px;
  width: 48%;
  background-color: #000000;
}
#lending_request .MuiButton-root.cancel_button:hover {
  background-color: #000000;
}
