#loan_approval .flex {
  display: flex;
}

#loan_approval .loan_title {
  margin-right: 0;
  margin-left: 20%;
}

#loan_approval .loan_text {
  font-weight: bold;
  margin-left: 1%;
}

#loan_approval .MuiPaper-root.card {
  width: 60%;
  margin-left: 20%;
}

#loan_approval .loan_button {
  margin: 5% 0 0 0;
  text-align: center;
}

#loan_approval .MuiButton-root.loan_cancel_btn {
  margin-right: 10%;
  color: white;
  background-color: black;
}

#loan_approval .MuiButton-root.loan_apploval_btn {
  margin-left: 10%;
  color: white;
  background-color: black;
}

#loan_approval .MuiButton-root.loan_cancel_btn:hover,
#loan_approval .MuiButton-root.loan_apploval_btn:hover {
  color: white;
  background-color: black;
}
