#product_list {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
#product_list .title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
#product_list .category {
  margin-left: 10%;
  width: 70%;
}
#product_list .leading {
  width: 70%;
}
#product_list .search_var {
  margin: 7% 0 10% 10%;
}
#product_list .MuiButton-root.button {
  margin-top: 1%;
  margin-left: 9%;
  font-size: 20px;
  width: 20%;
  color: white;
  background-color: #627cff;
}
#product_list .MuiButton-root.button:hover {
  background-color: #627cff;
}
#product_list .list_button {
  display: flex;
  align-items: center;
  /* border: 1px solid #000; */
}
#product_list .MuiButtonBase-root.list_button {
  padding: 1%;
}
#product_list .contents {
  width: 68%;
}
#product_list .name {
  margin: 0 0 0 2%;
  font-size: 1.15rem;
  width: 100%;
}
#product_list .product_name {
  font-size: 14px;
  margin: 0 0 2% 2%;
}
#product_list .green_circle {
  margin-left: 8%;
  display: flex;
  width: 75px;
  height: 75px;
  background-color: #14ff00;
  border-radius: 50%;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
#product_list .limit {
  text-align: left;
  margin-left: 2%;
  font-size: 1.1rem;
}
