.title {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
}
.return_request {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.MuiButton-root.request_button {
  margin-left: 9%;
  font-size: 20px;
  width: 48%;
  background-color: #00d12e;
}

.MuiButton-root.request_button:hover {
  background-color: #00d12e;
}
