@charset "UTF-8";
#teacher_register p,
#teacher_register h1 {
  font-family: "Roboto", sans-serif;
}

#teacher_register .page_title {
  font-size: 28px;
  margin: 0;
  margin-top: 1%;
}

#teacher_register .required_txt {
  color: #ff0000;
  font-size: 16px;
  margin: 0;
}

#teacher_register .error_message {
  color: #ff0000;
}

#teacher_register .center {
  text-align: center;
}

#teacher_register .username_input,
#teacher_register .email_input,
#teacher_register .pass_input,
#teacher_register .passch_input {
  margin-top: 1%;
  margin-bottom: 0.5%;
}

#teacher_register .username_input_text,
#teacher_register .email_input_text,
#teacher_register .pass_input_text,
#teacher_register .passch_input_text {
  width: 25%;
}

#teacher_register .MuiButton-root.register_button {
  margin-top: 1%;
  width: 25%;
  background-color: #00d12e;
}

#teacher_register .MuiButton-root.register_button:hover {
  background-color: #00d12e;
}

.teacher_register_popup {
  text-align: center;
}

.MuiDialogTitle-root.popup_title,
.popup_name,
.popup_email,
.popup_post {
  font-weight: bold;
}

.popup_name,
.popup_email,
.popup_post {
  margin-top: 0.5%;
}

.MuiDialogActions-root.popup_button {
  display: flex;
  justify-content: center;
}

.MuiButton-root.popup_cancel_button {
  margin-right: 10%;
  background-color: #000000;
}

.MuiButton-root.popup_teacher_cancel_button:hover {
  background-color: #000000;
}

.MuiButton-root.popup_teacher_register_button {
  margin-left: 10%;
  background-color: #00d12e;
}

.MuiButton-root.popup_teacher_register_button:hover {
  background-color: #00d12e;
}
