.password_reset {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.title {
  font-size: 20px;
  margin-top: 40%;
  margin-bottom: 10%;
}
.pwconf_input {
  margin-top: 15%;
}
.pass_input,
.passch_input {
  margin-top: 3%;
  margin-bottom: 6%;
}
.password_txt,
.pwconf_txt {
  width: 75%;
}
