.user-register {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.title {
  font-size: 20px;
  margin-bottom: 3%;
  font-weight: bold;
}
.sub_title {
  margin-top: 4%;
  margin-bottom: 1%;
}
