p {
  font-family: "Roboto", sans-serif;
}

.toolbar {
  background-color: white;
  border-bottom: 3px solid;
  border-color: blue;
  height: 80px;
}

.title {
  /* flex-grow: 1; */
  font-size: 32px;
  font-weight: bold;
}

.history,
.equipment_management,
.student_management,
.teacher_management {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 56px;
  height: 56px;
  margin: auto;
}

.header_text {
  margin: 0;
}
